<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Miaudote</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button><lucide-icon name="arrow-right"></lucide-icon></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content id="conteudo-menu"class="ion-padding">
    <div class="card-perfil-menu">
      <img src="../../assets/gato-2.png" alt="" srcset="">
      <div>
        <h4>Igão Foguete</h4>
        <a href="">Ver perfil <lucide-icon name="arrow-up-right"></lucide-icon></a>
      </div>
    </div>
    <button class="card-perfil-menu" slot="fixed"><strong>Sair</strong><lucide-icon name="log-out"></lucide-icon></button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        Miaudote
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" id="conteudo-principal">
    <div id="box-animal">
      <img src="../../assets/gato-2.png" alt="">
      <h1 style="color: #512454;">{{ dadosAnimal.animal_nome }}</h1>
      <h3 style="color: #512454;">{{ dadosAnimal.nome_doador }}</h3>
      <h4 class="botao-vazio">Acessar doador</h4>
      <ul class="infos-pet">
        <li><lucide-icon name="phone"></lucide-icon> {{ dadosAnimal.telefone_doador }}</li>
        <li><lucide-icon name="mail"></lucide-icon> {{ dadosAnimal.email_doador }}</li>
        <li><lucide-icon name="circle-check"></lucide-icon> <strong>Espécie: </strong>{{ dadosAnimal.especie }}</li>
        <li><lucide-icon name="circle-check"></lucide-icon> <strong>Sexo: </strong>{{ dadosAnimal.sexo }}</li>
        <li><lucide-icon name="circle-check"></lucide-icon> <strong>Tamanho: </strong>{{ dadosAnimal.tamanho }}</li>
        <li><lucide-icon name="circle-check"></lucide-icon> <strong>Idade: </strong>{{ dadosAnimal.idade }}</li>
      </ul>
      <div class="nota-azul"><span><lucide-icon name="map-pin"></lucide-icon><strong>Endereço</strong></span>
      <div>{{ dadosAnimal.localizacao }}</div></div>
      <div class="nota-azul"><span><strong>Descrição</strong></span>
      <div>{{ dadosAnimal.descricao }}</div></div>

              <!-- Essa parte só aparece se o animal for do próprio usuário autenticado -->
              <ion-button (click)="navegacaoEditar()" expand="block" class="botao-editar" style="width: 100%;">Editar
                animal</ion-button>
              <ion-button id="open-delete-modal" class="botao-excluir" style="width: 100%;">Excluir animal</ion-button>
              <!-- Essa parte só aparece se o animal for do próprio usuário autenticado -->
      
      
              <ion-modal #deleteModal trigger="open-delete-modal">
                <ng-template>
                  <ion-toolbar style="--background: white; height: max-content;">
                    <ion-title slot="start" style="color: #512454;">Excluir animal</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="cancelDelete()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                          [size]="16"></lucide-icon></ion-button>
                    </ion-buttons>
                  </ion-toolbar>
      
                  <ion-content class="ion-padding" style="--background: white;">
      
                    <div
                      style="--background: #fff; color: #512454; display: flex; flex-direction: column; margin: 8px 0px; justify-content: center; align-items: center;">
                      <lucide-icon name="triangle-alert" style="color: #D90004;" class="my-icon" [size]="96"></lucide-icon>
                      <p>Essa ação é irreversível e não pode ser desfeita.
                        <strong>Tem certeza disso?</strong>
                      </p>
                    </div>
      
                    <div class="botoes">
                      <ion-button expand="block" class="botao-foto" (click)="cancelDelete()">Cancelar</ion-button>
                      <ion-button expand="block" class="botao-excluir" (click)="deleteData()">Deletar perfil</ion-button>
                    </div>
      
                  </ion-content>
                </ng-template>
              </ion-modal>
      
      <button>Quero Adotar!</button>
    </div>

    <div id="solicitacoes">
      <h1 style="color: #512454;">Solicitações de adoção</h1>
      <div class="card">
        <div class="card-header">
          09/11/2024 - 22:10
        </div>
        <div class="card-content">
          <span>
            <img src="../../assets/gato-2.png" alt="" srcset="">
            <div>
              <h4>Igão Foguete</h4>
            <a href="">Ver perfil <lucide-icon name="arrow-up-right"></lucide-icon></a>
            </div>
          </span>
          <span style="gap: 30%;">
            <button id="open-reject-modal" class="botao-vazio">Rejeitar</button>
          <button id="open-accept-modal" class="botao-cheio">Aceitar</button>
          </span>

          <ion-modal #rejectModal trigger="open-reject-modal">
            <ng-template>
              <ion-toolbar style="--background: white; height: max-content;">
                <ion-title slot="start" style="color: #512454;">Adotar animal</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="cancelReject()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                      [size]="16"></lucide-icon></ion-button>
                </ion-buttons>
              </ion-toolbar>
  
              <ion-content class="ion-padding" style="--background: white;">
  
                <div
                  style="--background: #fff; color: #512454; display: flex; flex-direction: column; margin: 8px 0px; justify-content: center; align-items: center;">
                  <lucide-icon name="paw-print" style="color: #512454;" class="my-icon" [size]="96"></lucide-icon>
                  <p>Você está solicitando a adoção de um pet.
                    <strong>Tem certeza disso?</strong>
                  </p>
                </div>
  
                <div class="botoes">
                  <ion-button expand="block" class="botao-cancelar" (click)="cancelReject()">Cancelar</ion-button>
                  <ion-button expand="block" class="botao-confirmar" (click)="rejeitarAdocao()">Confirmar</ion-button>
                </div>
  
              </ion-content>
            </ng-template>
          </ion-modal>
          
        </div>
      </div>
    </div>
  </ion-content>