<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Miaudote</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button><lucide-icon name="arrow-right"></lucide-icon></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content id="conteudo-menu"class="ion-padding">
    <div class="card-perfil-menu">
      <img src="../../assets/gato-2.png" alt="" srcset="">
      <div>
        <h4>{{ usuarioLogado.nome_completo }}</h4>
        <a [routerLink]="['/perfil-usuario', usuarioLogado.id_user]">Ver perfil <lucide-icon name="arrow-up-right"></lucide-icon></a>
      </div>
    </div>
    <button class="card-perfil-menu" slot="fixed" (click)="home()"><strong>Inicio</strong><lucide-icon name="house"></lucide-icon></button>
    <button class="card-perfil-menu" slot="fixed" (click)="logout()"><strong>Sair</strong><lucide-icon name="log-out"></lucide-icon></button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-row class="ion-align-items-center menu-topo">
          <img src="../../assets/logo-miaudote.svg" alt="Logo do Miaudote" width="70%" class="logo-miaudote">
        </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" id="conteudo-principal">
    <div id="box-animal">
      <img src="../../assets/gato-2.png" alt="">

      <ion-card-title style="color: #512454; font-weight: 600;">{{ dadosAnimal.animal_nome }}</ion-card-title>
      <ion-card-subtitle style="color: #512454">&#64;{{ dadosAnimal.nome_doador }}</ion-card-subtitle>
      <h4 class="botao-vazio" [routerLink]="['/perfil-usuario', dadosAnimal.id_doador]">Acessar doador</h4>
      <div class="infos-pet">
        <span><lucide-icon class="my-icon" [size]="16" name="phone"></lucide-icon> {{ dadosAnimal.telefone_doador }}</span>
        <span><lucide-icon class="my-icon" [size]="16" name="mail"></lucide-icon> {{ dadosAnimal.email_doador }}</span>
        <span><lucide-icon class="my-icon" [size]="16" name="circle-check"></lucide-icon> <strong>Espécie: </strong>{{ dadosAnimal.especie }}</span>
        <span><lucide-icon class="my-icon" [size]="16" name="circle-check"></lucide-icon> <strong>Sexo: </strong>{{ dadosAnimal.sexo }}</span>
        <span><lucide-icon class="my-icon" [size]="16" name="circle-check"></lucide-icon> <strong>Tamanho: </strong>{{ dadosAnimal.tamanho }}</span>
        <span><lucide-icon class="my-icon" [size]="16" name="circle-check"></lucide-icon> <strong>Idade: </strong>{{ dadosAnimal.idade }}</span>
      </div>
      <div class="nota-azul">
        <span>
          <lucide-icon [size]="14" name="map-pin"></lucide-icon>
          <strong>Endereço</strong>
        </span>
        <div>{{ dadosAnimal.cidade }} - {{ dadosAnimal.estado}}</div>
      </div>
      <div class="nota-azul"><span><strong>Descrição</strong></span>
        <div>{{ dadosAnimal.descricao }}</div>
      </div>

      <div class="botoes" *ngIf="usuarioLogadoeDoador">
        <!-- Essa parte só aparece se o animal for do próprio usuário autenticado -->
        <ion-button (click)="navegacaoEditar()" expand="block" class="botao-editar"
        style="width: 100%;">Editar</ion-button>
        <ion-button id="open-delete-modal" class="botao-excluir" style="width: 100%;">Excluir</ion-button>
        <!-- Essa parte só aparece se o animal for do próprio usuário autenticado -->
      </div>


      <ion-modal #deleteModal trigger="open-delete-modal" *ngIf="usuarioLogadoeDoador">
        <ng-template>
          <ion-toolbar style="--background: white; height: max-content;">
            <ion-title slot="start" style="color: #512454;">Excluir animal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cancelDelete()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                  [size]="16"></lucide-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>

          <ion-content class="ion-padding" style="--background: white;">

            <div
              style="--background: #fff; color: #512454; display: flex; flex-direction: column; margin: 8px 0px; justify-content: center; align-items: center;">
              <lucide-icon name="triangle-alert" style="color: #D90004;" class="my-icon" [size]="96"></lucide-icon>
              <p>Essa ação é irreversível e não pode ser desfeita.
                <strong>Tem certeza disso?</strong>
              </p>
            </div>

            <div class="botoes">
              <ion-button expand="block" class="botao-foto" (click)="cancelDelete()">Cancelar</ion-button>
              <ion-button expand="block" class="botao-excluir" (click)="deleteData()">Deletar perfil</ion-button>
            </div>

          </ion-content>
        </ng-template>
      </ion-modal>

      <span *ngIf="!usuarioLogadoeDoador">
        <ion-button  id="open-adocao-modal" class="botao-adicionar">Quero Adotar!</ion-button>
      </span>

      <ion-modal #adocaoModal trigger="open-adocao-modal">
        <ng-template>
          <ion-toolbar style="--background: white; height: max-content;">
            <ion-title slot="start" style="color: #512454;">Solicitar adoção</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cancelAdocao()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                  [size]="16"></lucide-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>

          <ion-content class="ion-padding" style="--background: white;">

            <div
              style="--background: #fff; color: #512454; display: flex; flex-direction: column; margin: 8px 0px; justify-content: center; align-items: center;">
              <lucide-icon name="paw-print" style="color: #512454;" class="my-icon" [size]="96"></lucide-icon>
              <p>Você está solicitando a adoção de um pet.
                <strong>Tem certeza disso?</strong>
              </p>
            </div>

            <div class="botoes">
              <ion-button expand="block" class="botao-cancelar" (click)="cancelAdocao()">Cancelar</ion-button>
              <ion-button expand="block" class="botao-adicionar" (click)="adotar()">Confirmar</ion-button>
            </div>

          </ion-content>
        </ng-template>
      </ion-modal>

    </div>

    <div id="solicitacoes" *ngIf="usuarioLogadoeDoador" >
      <h3 style="font-weight: 700; color: #512454; padding: 16px 0px;">Solicitações de Adoção</h3>
      <div *ngFor="let solicitacao of dadosSolicitacoes">
        <div class="card">
          <div class="card-header">
            {{ solicitacao.data_solicitacao }} - {{ solicitacao.hora_solicitacao }}
          </div>
          <div class="card-content">
            <span>
              <img src="../../assets/gato-2.png" alt="" srcset="">
              <div>
                <h4>{{ dadosSolicitacoes.solicitante_nome }}</h4>
                <a style="display: flex; gap: 4px; margin-top: 4px; font-size: 14px;" [routerLink]="['/perfil-usuario', solicitacao.id_solicitante]">Ver perfil<lucide-icon name="arrow-up-right"
                    style="color: #512454;" class="my-icon" [size]="14"></lucide-icon>
                </a>
  
              </div>
            </span>
            <span style="gap: 8px;">
              <ion-button id="open-reject-modal" class="botao-cancelar">Rejeitar</ion-button>
              <ion-button id="open-accept-modal" class="botao-adicionar">Aceitar</ion-button>
            </span>
  
            <ion-modal #rejectModal trigger="open-reject-modal">
              <ng-template>
                <ion-toolbar style="--background: white; height: max-content;">
                  <ion-title slot="start" style="color: #512454;">Rejeitar adoção</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="cancelReject()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                        [size]="16"></lucide-icon></ion-button>
                  </ion-buttons>
                </ion-toolbar>
  
                <ion-content class="ion-padding" style="--background: white;">
  
                  <div
                    style="--background: #fff; color: #512454; display: flex; flex-direction: column; margin: 8px 0px; justify-content: center; align-items: center;">
                    <lucide-icon name="paw-print" style="color: #512454;" class="my-icon" [size]="96"></lucide-icon>
                    <p>Você está rejeitando a solicitação de adoção de um pet.
                      <strong>Tem certeza disso?</strong>
                    </p>
                  </div>
  
                  <div class="botoes">
                    <ion-button expand="block" class="botao-cancelar" (click)="cancelReject()">Cancelar</ion-button>
                    <ion-button expand="block" class="botao-adicionar" (click)="rejeitarAdocao(solicitacao.id_solicitacao)">Confirmar</ion-button>
                  </div>
  
                </ion-content>
              </ng-template>
            </ion-modal>
  
            <ion-modal #acceptModal trigger="open-accept-modal">
              <ng-template>
                <ion-toolbar style="--background: white; height: max-content;">
                  <ion-title slot="start" style="color: #512454;">Aceitar adoção</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="cancelAccept()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                        [size]="16"></lucide-icon></ion-button>
                  </ion-buttons>
                </ion-toolbar>
  
                <ion-content class="ion-padding" style="--background: white;">
  
                  <div
                    style="--background: #fff; color: #512454; display: flex; flex-direction: column; margin: 8px 0px; justify-content: center; align-items: center;">
                    <lucide-icon name="paw-print" style="color: #512454;" class="my-icon" [size]="96"></lucide-icon>
                    <p>Você está aceitando a solicitação de adoção de um pet.
                      <strong>Tem certeza disso?</strong>
                    </p>
                  </div>
  
                  <div class="botoes">
                    <ion-button expand="block" class="botao-cancelar" (click)="cancelAccept()">Cancelar</ion-button>
                    <ion-button expand="block" class="botao-adicionar" (click)="aceitarAdocao(solicitacao.id_solicitacao)">Confirmar</ion-button>
                  </div>
  
                </ion-content>
              </ng-template>
            </ion-modal>
  
  
          </div>
        </div>
      </div>
      
    </div>
  </ion-content>
</div>