<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Miaudote</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button><lucide-icon name="arrow-right"></lucide-icon></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content id="conteudo-menu"class="ion-padding">
    <div class="card-perfil-menu">
      <img src="../../assets/gato-2.png" alt="" srcset="">
      <div>
        <h4>{{ usuarioLogado.nome_completo }}</h4>
        <a [routerLink]="['/perfil-usuario', usuarioLogado.id_user]">Ver perfil <lucide-icon name="arrow-up-right"></lucide-icon></a>
      </div>
    </div>
    <button class="card-perfil-menu" slot="fixed" (click)="home()"><strong>Inicio</strong><lucide-icon name="house"></lucide-icon></button>
    <button class="card-perfil-menu" slot="fixed" (click)="logout()"><strong>Sair</strong><lucide-icon name="log-out"></lucide-icon></button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-row class="ion-align-items-center menu-topo">
          <img src="../../assets/logo-miaudote.svg" alt="Logo do Miaudote" width="70%" class="logo-miaudote">
        </ion-row>
    </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true" class="ion-padding conteudo">

  <div>
    <ion-card class="card">
      <ion-card-content
        style="display: flex; flex-direction: column; gap: 4px; justify-content: center; align-items: center;">
        <img src="../../assets/igor.png" alt="Foto de Perfil do Usuário" width="200px" style="border-radius: 50%;">
        <div class="ion-text-center" style="display: flex; flex-direction: column; gap: 4px; margin: 8px 0px;">
          <ion-card-title style="color: #512454; font-weight: 600;">{{ dadosUsuario.nome_completo }}</ion-card-title>
          <ion-card-subtitle style="color: #512454">&#64;{{ dadosUsuario.nome_usuario }}</ion-card-subtitle>
        </div>
        <div style="display: flex; flex-direction: column; gap: 4px; justify-content: start;">

          <div style="display: flex; gap: 8px;"><lucide-icon name="phone" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">{{ dadosUsuario.telefone }}</h3>
          </div>

          <div style="display: flex; gap: 8px;"><lucide-icon name="mail" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">{{ dadosUsuario.email }}</h3>
          </div>

          <div style="display: flex; gap: 8px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">Doações Concluídas: <strong style="font-weight: 600; color: #87138F;">{{ dadosUsuario.qtd_doacoes }}</strong>
            </h3>
          </div>


          <div style="background-color: #D6E1FF; padding: 4px 8px 8px 8px;" class="ion-text-center">
            <div style="display: flex; gap: 4px; justify-content: center; align-items: center;"><lucide-icon
                name="map-pin" class="my-icon icone-perfil" [size]="16"></lucide-icon>
              <h3 style="color: #87138F; font-weight: 600;">Endereço</h3>
            </div>
            <p style="color: #1E1E1E;">
              {{ dadosUsuario.logradouro }} - {{ dadosUsuario.cidade }} ({{ dadosUsuario.estado }})
            </p>
          </div>

          <div style="background-color: #D6E1FF; padding: 4px 8px 8px 8px;" class="ion-text-center">
            <h3 style="color: #87138F; font-weight: 600;">Descrição</h3>
            <p style="color: #1E1E1E;">
              {{ dadosUsuario.descricao }}
            </p>
          </div>

        </div>

        <span *ngIf="usuarioLogadoeDoador">
          <!-- Essa parte só aparece se o perfil for do próprio usuário autenticado -->
          <ion-button class="botao-editar" style="width: 100%;" (click)="editarUsuario()">Editar perfil</ion-button>
          <ion-button class="botao-excluir" style="width: 100%;" id="open-delete-modal">Excluir perfil</ion-button>
          <!-- Essa parte só aparece se o perfil for do próprio usuário autenticado -->
        </span>
        

        <ion-modal #deleteModal trigger="open-delete-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-toolbar style="--background: white; height: max-content;">
              <ion-title slot="start" style="color: #512454;">Excluir perfil</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="cancelDelete()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                    [size]="16"></lucide-icon></ion-button>
              </ion-buttons>
            </ion-toolbar>

            <ion-content class="ion-padding" style="--background: white;">

              <div
                style="--background: #fff; color: #512454; display: flex; flex-direction: column; margin: 8px 0px; justify-content: center; align-items: center;">
                <lucide-icon name="triangle-alert" style="color: #D90004;" class="my-icon" [size]="96"></lucide-icon>
                <p>Essa ação é irreversível e não pode ser desfeita.
                  <strong>Tem certeza disso?</strong>
                </p>
              </div>

              <div class="botoes">
                <ion-button expand="block" class="botao-foto" (click)="cancelDelete()">Cancelar</ion-button>
                <ion-button expand="block" class="botao-deletar" (click)="deleteData()">Deletar perfil</ion-button>
              </div>

            </ion-content>
          </ng-template>
        </ion-modal>


      </ion-card-content>
    </ion-card>

  </div>

  <div id="pets">

    <div class="ion-text-center">
      <h2 style="font-weight: 700; color: #512454;">Pets deste usuário</h2>

      <span *ngIf="usuarioLogadoeDoador">
      <!-- Essa parte só aparece se o perfil for do próprio usuário autenticado -->
      <ion-button class="botao-adicionar" [routerLink]="['/cadastrar-animal']">Adicionar animal</ion-button>
      </span>
    </div>
    <!-- Essa parte só aparece se o perfil for do próprio usuário autenticado -->

    <!-- Essa parte só aparece se o perfil possuir animais cadastrados -->
       <button style="display: flex; justify-content: space-between; align-items: center; color: #512454; border: solid 2px #1E1E1E; padding: 4px 8px; width: 90%; margin: 0 auto; background-color: white;" id="open-modal"><span>Filtrar</span><span><lucide-icon name="list-filter" class="my-icon" [size]="16" style="color: #1E1E1E;"></lucide-icon></span></button>

    <p style="color: #512454; font-weight: 500;">{{ message }}</p>

    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-toolbar style="--background: white;">
          <ion-title slot="start" style="color: #512454;">Filtrar</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                [size]="16"></lucide-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-content class="ion-padding" style="--background: white;">

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Estado</h3>
            <ion-select style="background-color: white; color: #512454; padding: 0px 8px; border: solid 2px #512454;"
              placeholder="Selecionar" [(ngModel)]="estadoSelecionado">
              <ion-select-option
                style="background-color: white; color: #512454; padding: 0px 8px; border: solid 2px #512454;"
                *ngFor="let estado of estados" [value]="estado">{{ estado }}</ion-select-option>
            </ion-select>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Cidade</h3>
            <ion-item class="input-filtro">
              <ion-input placeholder="Informe a cidade" [(ngModel)]="cidade"></ion-input>
              <ion-icon style="color: #512454;" slot="end" name="search-outline"></ion-icon>
            </ion-item>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Espécie</h3>
            <ion-radio-group [(ngModel)]="especieSelecionada">
              <ion-item style="--background:none; color: #1E1E1E;"
                *ngFor="let especie of ['Gato', 'Cachorro', 'Roedor', 'Pássaro', 'Todos', 'Outros']">
                <ion-label>{{ especie }}</ion-label>
                <ion-radio style="--color: #512454;" slot="start" [value]="especie"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Sexo</h3>
            <ion-radio-group [(ngModel)]="sexoSelecionado">
              <ion-item style="--background:none; color: #1E1E1E;" *ngFor="let sexo of ['Macho', 'Fêmea', 'Todos']">
                <ion-label>{{ sexo }}</ion-label>
                <ion-radio style="--color: #512454;" slot="start" [value]="sexo"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Tamanho</h3>
            <ion-radio-group [(ngModel)]="tamanhoSelecionado">
              <ion-item style="--background:none; color: #1E1E1E;"
                *ngFor="let tamanho of ['Pequeno', 'Médio', 'Grande', 'Todos']">
                <ion-label>{{ tamanho }}</ion-label>
                <ion-radio style="--color: #512454;" slot="start" [value]="tamanho"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Idade</h3>
            <ion-radio-group [(ngModel)]="idadeSelecionada">
              <ion-item style="--background:none; color: #1E1E1E;"
                *ngFor="let idade of ['Filhote', 'Adulto', 'Idoso', 'Todos']">
                <ion-label>{{ idade }}</ion-label>
                <ion-radio style="--color: #512454;" slot="start" [value]="idade"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Situação</h3>
            <ion-radio-group [(ngModel)]="situacaoSelecionada">
              <ion-item style="--background:none; color: #1E1E1E;"
                *ngFor="let situacao of ['Disponível', 'Adotado', 'Todos']">
                <ion-label>{{ situacao }}</ion-label>
                <ion-radio style="--color: #512454;" slot="start" [value]="situacao"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <ion-button expand="block" class="botao-adicionar" (click)="confirm()">Aplicar filtros</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <span *ngFor="let animal of animaisUsuario.animais">
      <ion-card *ngIf="animal.status == 'disponivel'; else petIndisponivel">
        <ion-card-header class="status-pet-disponivel">
          <ion-card-title style="color: white; font-weight: 600;">DISPONÍVEL</ion-card-title>
        </ion-card-header>
        
        <ion-card-content
        style="display: flex; flex-direction: column; gap: 4px; justify-content: center; align-items: center; padding: 16px;">
        <img src="../../assets/gato-2.png" alt="Foto de Perfil do Usuário" width="200px" style="border-radius: 50%;">
        <div class="ion-text-center" style="display: flex; flex-direction: column; gap: 4px; margin: 8px 0px;">
          <ion-card-title style="color: #512454; font-weight: 600;">{{animal.animal_nome}}</ion-card-title>
        </div>
        <div style="display: flex; flex-direction: column; gap: 4px; justify-content: start;">

          <div style="display: flex; gap: 4px;"><lucide-icon name="map-pin" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">{{ animal.localizacao}}</h3>
          </div>

          <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
              <h3 style="color: #1E1E1E" *ngIf="animal.sexo === 'M'; else animalFemea">Macho</h3>
              <ng-template #animalFemea>
                <h3 style="color: #1E1E1E">Fêmea</h3></ng-template>
          </div>

          <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
              <h3 style="color: #1E1E1E">{{ animal.tamanho }}</h3>
            </div>

        </div>

        <ion-button [routerLink]="['/perfil-animal', animal.id_animal]" class="botao-editar" style="width: 100%;">Ver detalhes</ion-button>

      </ion-card-content>

      </ion-card>

      <ng-template #petIndisponivel>
        <ion-card>
        <ion-card-header class="status-pet-indisponivel">
          <ion-card-title style="color: white; font-weight: 600;" >INDISPONÍVEL</ion-card-title>
        </ion-card-header>
        
        <ion-card-content
        style="display: flex; flex-direction: column; gap: 4px; justify-content: center; align-items: center; padding: 16px;">
        <img src="../../assets/gato-2.png" alt="Foto de Perfil do Usuário" width="200px" style="border-radius: 50%;">
        <div class="ion-text-center" style="display: flex; flex-direction: column; gap: 4px; margin: 8px 0px;">
          <ion-card-title style="color: #512454; font-weight: 600;">{{animal.animal_nome}}</ion-card-title>
        </div>
        <div style="display: flex; flex-direction: column; gap: 4px; justify-content: start;">

          <div style="display: flex; gap: 4px;"><lucide-icon name="map-pin" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">{{ animal.localizacao}}</h3>
          </div>

          <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E" *ngIf="animal.sexo === 'M'; else animalFemea">Macho</h3>
            <ng-template #animalFemea>
              <h3 style="color: #1E1E1E">Fêmea</h3></ng-template>
          </div>

          <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">{{ animal.tamanho }}</h3>
          </div>

        </div>

        <ion-button [routerLink]="['/perfil-animal', animal.id_animal]" class="botao-editar" style="width: 100%;">Ver detalhes</ion-button>

      </ion-card-content>

      </ion-card></ng-template>
    </span>
    

    <!-- Caso o usuário não possua animais cadastrados -->
    <span style="color: #512454; font-weight: 500; display: none;">Este usuário não possui animais para doação</span>
    <!-- Caso o usuário não possua animais cadastrados -->

  </div>

  <div class="infos-monetaria">
    <h4 style="font-weight: 600;">Quero ajudar este doador!</h4>
    <p><strong>Agência:</strong> {{ dadosUsuario.agencia_bancaria }}</p>
    <p><strong>Conta:</strong> {{ dadosUsuario.conta_bancaria }}</p>
    <p><strong>Pix:</strong> {{ dadosUsuario.chave_pix }}</p>
    <p><strong>Responsável:</strong> {{ dadosUsuario.responsavel }}</p>
  </div>


</ion-content>
</div>