<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil_usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
    <div>
      <ion-card>
        <ion-card-content>
          <img src="../../assets/gato-2.png" alt="">
          <ion-card-title>Igão Foguete</ion-card-title>
          <ion-card-subtitle>&#64;igaofoguete_</ion-card-subtitle>
          <div></div>
          <div><img src="../../assets/check_circle.png" alt="">Macho</div>
          <div><img src="../../assets/check_circle.png" alt="">Pequeno</div>
          <div><span><img src="../../assets/map-pin.png" alt="">Xique-xique (BA)</span>
              <div>Rua Fulano de tal - Bairro tal -Barão de Grajaú (MA) </div></div>
          <div><span>Descrição</span>
            <div>Igão é um cara muito gente fina.</div></div>
          <ion-button>Editar perfil</ion-button>
          <ion-button>Excluir perfil</ion-button>
        </ion-card-content>
      </ion-card>
  
    </div>
    
    

    <div id="pets">
      <div><h1>Pets deste usuário</h1>
        <ion-button>Adicionar animal</ion-button></div>

      <ion-card>
        <ion-card-header class="status-pet">
          <ion-card-title >DISPONÍVEL</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <img src="../../assets/gato-2.png" alt="">
          <ion-card-title>Frederico</ion-card-title>
          <ion-card-subtitle>Igão Foguete</ion-card-subtitle>
          <ul class="infos-pet">
            <li><img src="../../assets/map-pin.png" alt="">Xique-xique (BA)</li>
            <br>
            <li><img src="../../assets/check_circle.png" alt="">Macho</li>
            <br>
            <li><img src="../../assets/check_circle.png" alt="">Pequeno</li>
          </ul>
          <ion-button>Ver detalhes</ion-button>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="infos-monetaria">
      <h2>Quero ajudar este doador</h2>
      <p><strong>Agência:</strong> 0000</p>
      <p><strong>Conta:</strong> 0000</p>
      <p><strong>Pix:</strong> 0000</p>
      <p><strong>Responsável:</strong> Igor Costa Ayres</p>
    </div>



</ion-content>
