<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-align-items-center menu-topo">
      <lucide-icon name="menu" class="my-icon"></lucide-icon>
      <img src="../../assets/logo-miaudote.svg" alt="Logo do Miaudote" width="70%" class="logo-miaudote">
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding conteudo">

  <div>
    <ion-card class="card">
      <ion-card-content
        style="display: flex; flex-direction: column; gap: 4px; justify-content: center; align-items: center;">
        <img src="../../assets/igor.png" alt="Foto de Perfil do Usuário" width="200px" style="border-radius: 50%;">
        <div class="ion-text-center" style="display: flex; flex-direction: column; gap: 4px; margin: 8px 0px;">
          <ion-card-title style="color: #512454; font-weight: 600;">Igão Foguete</ion-card-title>
          <ion-card-subtitle style="color: #512454">&#64;igaofoguete_</ion-card-subtitle>
        </div>
        <div style="display: flex; flex-direction: column; gap: 4px; justify-content: start;">

          <div style="display: flex; gap: 8px;"><lucide-icon name="phone" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">(89) 4002-8922</h3>
          </div>

          <div style="display: flex; gap: 8px;"><lucide-icon name="mail" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">igaofoguete&#64;gmail.com</h3>
          </div>

          <div style="display: flex; gap: 8px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">Doações Concluídas: <strong style="font-weight: 600; color: #87138F;">10</strong>
            </h3>
          </div>


          <div style="background-color: #D6E1FF; padding: 4px 8px 8px 8px;" class="ion-text-center">
            <div style="display: flex; gap: 4px; justify-content: center; align-items: center;"><lucide-icon
                name="map-pin" class="my-icon icone-perfil" [size]="16"></lucide-icon>
              <h3 style="color: #87138F; font-weight: 600;">Endereço</h3>
            </div>
            <p style="color: #1E1E1E;">
              Rua Fulano de tal - Bairro tal -Barão de Grajaú (MA)
            </p>
          </div>

          <div style="background-color: #D6E1FF; padding: 4px 8px 8px 8px;" class="ion-text-center">
            <h3 style="color: #87138F; font-weight: 600;">Descrição</h3>
            <p style="color: #1E1E1E;">
              Igão é um cara muito gente fina.
            </p>
          </div>

        </div>

        <!-- Essa parte só aparece se o perfil for do próprio usuário autenticado -->
        <ion-button (click)="navegacaoEditar()" expand="block" class="botao-editar" style="width: 100%;">Editar
          perfil</ion-button>
        <ion-button id="open-delete-modal" class="botao-excluir" style="width: 100%;">Excluir perfil</ion-button>
        <!-- Essa parte só aparece se o perfil for do próprio usuário autenticado -->


        <ion-modal #deleteModal trigger="open-delete-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-toolbar style="--background: white; height: max-content;">
              <ion-title slot="start" style="color: #512454;">Excluir perfil</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="cancelDelete()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                    [size]="16"></lucide-icon></ion-button>
              </ion-buttons>
            </ion-toolbar>

            <ion-content class="ion-padding" style="--background: white;">

              <div
                style="--background: #fff; color: #512454; display: flex; flex-direction: column; margin: 8px 0px; justify-content: center; align-items: center;">
                <lucide-icon name="triangle-alert" style="color: #D90004;" class="my-icon" [size]="96"></lucide-icon>
                <p>Essa ação é irreversível e não pode ser desfeita.
                  <strong>Tem certeza disso?</strong>
                </p>
              </div>

              <div class="botoes">
                <ion-button expand="block" class="botao-foto" (click)="cancelDelete()">Cancelar</ion-button>
                <ion-button expand="block" class="botao-deletar" (click)="deleteData()">Deletar perfil</ion-button>
              </div>

            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-card-content>
    </ion-card>

  </div>

  <div id="pets">

    <div class="ion-text-center">
      <h2 style="font-weight: 700; color: #512454;">Pets deste usuário</h2>

      <!-- Essa parte só aparece se o perfil for do próprio usuário autenticado -->
      <ion-button (click)="navegacaoAddAnimal()" class="botao-adicionar">Adicionar animal</ion-button>
    </div>
    <!-- Essa parte só aparece se o perfil for do próprio usuário autenticado -->

    <!-- Essa parte só aparece se o perfil possuir animais cadastrados -->
    <button id="open-modal" expand="block"
      style="display: flex; justify-content: space-between; align-items: center; color: #512454; border: solid 2px #1E1E1E; padding: 4px 8px; width: 100%; background-color: white; margin: 16px 0px;">
      Filtrar
      <lucide-icon name="list-filter" class="my-icon" [size]="16" style="color: #1E1E1E;"></lucide-icon>
    </button>

    <p style="color: #512454; font-weight: 500;">{{ message }}</p>

    <ion-modal #filterModal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-toolbar style="--background: white;">
          <ion-title slot="start" style="color: #512454;">Filtrar</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancelFiltro()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                [size]="16"></lucide-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-content class="ion-padding" style="--background: white;">

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Estado</h3>
            <ion-select class="select-estado" interface="popover"
              style="background-color: white; color: #512454; padding: 0px 8px; border: solid 2px #512454;"
              placeholder="Selecionar" [(ngModel)]="estadoSelecionado">
              <ion-select-option class="option-estado"
                style="background-color: white; color: #512454; padding: 0px 8px; border: solid 2px #512454;"
                *ngFor="let estado of estados" [value]="estado">{{ estado }}</ion-select-option>
            </ion-select>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Cidade</h3>
            <ion-item class="input-filtro">
              <ion-input placeholder="Informe a cidade" [(ngModel)]="cidade"></ion-input>
              <ion-icon style="color: #512454;" slot="end" name="search-outline"></ion-icon>
            </ion-item>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Espécie</h3>
            <ion-radio-group [(ngModel)]="especieSelecionada">
              <ion-item class="itens-input" style="--background:none; color: #1E1E1E;"
                *ngFor="let especie of ['Gato', 'Cachorro', 'Roedor', 'Pássaro', 'Todos', 'Outros']">
                <ion-label>{{ especie }}</ion-label>
                <ion-radio style="--color: #512454; " slot="start" [value]="especie"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Sexo</h3>
            <ion-radio-group [(ngModel)]="sexoSelecionado">
              <ion-item style="--background:none; color: #1E1E1E;" *ngFor="let sexo of ['Macho', 'Fêmea', 'Todos']">
                <ion-label>{{ sexo }}</ion-label>
                <ion-radio style="--color: #512454;" slot="start" [value]="sexo"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Tamanho</h3>
            <ion-radio-group [(ngModel)]="tamanhoSelecionado">
              <ion-item style="--background:none; color: #1E1E1E;"
                *ngFor="let tamanho of ['Pequeno', 'Médio', 'Grande', 'Todos']">
                <ion-label>{{ tamanho }}</ion-label>
                <ion-radio style="--color: #512454;" slot="start" [value]="tamanho"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Idade</h3>
            <ion-radio-group [(ngModel)]="idadeSelecionada">
              <ion-item style="--background:none; color: #1E1E1E;"
                *ngFor="let idade of ['Filhote', 'Adulto', 'Idoso', 'Todos']">
                <ion-label>{{ idade }}</ion-label>
                <ion-radio style="--color: #512454;" slot="start" [value]="idade"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <div class="campo-filtro">
            <h3 class="titulo-filtro">Situação</h3>
            <ion-radio-group [(ngModel)]="situacaoSelecionada">
              <ion-item style="--background:none; color: #1E1E1E;"
                *ngFor="let situacao of ['Disponível', 'Adotado', 'Todos']">
                <ion-label>{{ situacao }}</ion-label>
                <ion-radio style="--color: #512454;" slot="start" [value]="situacao"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <ion-button expand="block" class="botao-adicionar" (click)="confirmFiltro()">Aplicar filtros</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- Essa parte só aparece se o perfil possuir animais cadastrados -->

    <ion-card class="card">

      <!-- Se o animal não tiver sido adotado, fica verde, se não fica vermelho -->
      <ion-card-header class="status-pet">
        <ion-card-title style="color: white; font-weight: 600;">DISPONÍVEL</ion-card-title>
      </ion-card-header>
      <!-- Se o animal não tiver sido adotado, fica verde, se não fica vermelho -->

      <ion-card-content
        style="display: flex; flex-direction: column; gap: 4px; justify-content: center; align-items: center; padding: 16px;">
        <img src="../../assets/gato-2.png" alt="Foto de Perfil do Usuário" width="200px" style="border-radius: 50%;">
        <div class="ion-text-center" style="display: flex; flex-direction: column; gap: 4px; margin: 8px 0px;">
          <ion-card-title style="color: #512454; font-weight: 600;">Frederico</ion-card-title>
        </div>
        <div style="display: flex; flex-direction: column; gap: 4px; justify-content: start;">

          <div style="display: flex; gap: 4px;"><lucide-icon name="map-pin" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">Xique-Xique/BA</h3>
          </div>

          <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">Macho</h3>
          </div>

          <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
              [size]="16"></lucide-icon>
            <h3 style="color: #1E1E1E">Filhote</h3>
          </div>

        </div>

        <ion-button (click)="navegacaoAnimal()" class="botao-editar" style="width: 100%;">Ver detalhes</ion-button>

      </ion-card-content>
    </ion-card>

    <!-- Caso o usuário não possua animais cadastrados -->
    <span style="color: #512454; font-weight: 500; display: none;">Este usuário não possui animais para doação</span>
    <!-- Caso o usuário não possua animais cadastrados -->

  </div>

  <div class="infos-monetaria">
    <h4 style="font-weight: 600;">Quero ajudar este doador!</h4>
    <p><strong>Agência:</strong> 0000</p>
    <p><strong>Conta:</strong> 0000</p>
    <p><strong>Pix:</strong> 0000</p>
    <p><strong>Responsável:</strong> Igor Costa Ayres</p>
  </div>

</ion-content>