<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Miaudote</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button><lucide-icon name="arrow-right"></lucide-icon></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content id="conteudo-menu"class="ion-padding">
    <div class="card-perfil-menu">
      <img src="../../assets/gato-2.png" alt="" srcset="">
      <div>
        <h4>{{ usuarioLogado.nome_completo }}</h4>
        <a [routerLink]="['/perfil-usuario', usuarioLogado.id_user]">Ver perfil <lucide-icon name="arrow-up-right"></lucide-icon></a>
      </div>
    </div>
    <button class="card-perfil-menu" slot="fixed" (click)="home()"><strong>Inicio</strong><lucide-icon name="house"></lucide-icon></button>
    <button class="card-perfil-menu" slot="fixed" (click)="logout()"><strong>Sair</strong><lucide-icon name="log-out"></lucide-icon></button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-row class="ion-align-items-center menu-topo">
          <img src="../../assets/logo-miaudote.svg" alt="Logo do Miaudote" width="70%" class="logo-miaudote">
        </ion-row>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true" class="conteudo ion-padding">

  <div class="ion-text-center">
    <h3 style="font-weight: 700; color: #512454; margin: 24px 0px;">Alterar Dados do Animal</h3>
  </div>

  <div style="--background: #fff; color: #512454; display: flex; flex-direction: column; margin: 8px 0px;">
    <ion-label style="font-size: 14px;">Insira o novo nome</ion-label>
    <span class="input-wrapper">
      <lucide-icon name="user" style="color: #1E1E1E;" class="my-icon lucide-icon" [size]="16"></lucide-icon>
      <input type="text" placeholder="Nome do animal" name="edit-nome" [(ngModel)]="nomeAnimal">
    </span>
  </div>

  
  <div class="campo-forms">
    <h3 class="titulo-forms">Informe a espécie</h3>
    <ion-radio-group [(ngModel)]="especieSelecionada">
      <ion-item style="--background:none; color: #1E1E1E;"
        *ngFor="let especie of ['Gato', 'Cachorro', 'Roedor', 'Pássaro', 'Outros']">
        <ion-label>{{ especie }}</ion-label>
        <ion-radio style="--color: #512454;" slot="start" [value]="especie"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div class="campo-forms">
    <h3 class="titulo-forms">Informe o sexo</h3>
    <ion-radio-group [(ngModel)]="sexoSelecionado">
      <ion-item style="--background:none; color: #1E1E1E;" *ngFor="let sexo of ['Macho', 'Fêmea']">
        <ion-label>{{ sexo }}</ion-label>
        <ion-radio style="--color: #512454;" slot="start" [value]="sexo"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div class="campo-forms">
    <h3 class="titulo-forms">Informe o tamanho</h3>
    <ion-radio-group [(ngModel)]="tamanhoSelecionado">
      <ion-item style="--background:none; color: #1E1E1E;"
        *ngFor="let tamanho of ['Pequeno', 'Médio', 'Grande']">
        <ion-label>{{ tamanho }}</ion-label>
        <ion-radio style="--color: #512454;" slot="start" [value]="tamanho"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div class="campo-forms">
    <h3 class="titulo-forms">Informe a idade</h3>
    <ion-radio-group [(ngModel)]="idadeSelecionada">
      <ion-item style="--background:none; color: #1E1E1E;"
        *ngFor="let idade of ['Filhote', 'Adulto', 'Idoso']">
        <ion-label>{{ idade }}</ion-label>
        <ion-radio style="--color: #512454;" slot="start" [value]="idade"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div style="display: flex; flex-direction: column; gap: 4px;">
    <ion-button id="open-foto-modal" expand="block" class="botao-foto" style="width: 100%;">Alterar foto</ion-button>

  </div>


  <div style="--background: #fff; color: #512454; display: flex; flex-direction: column; margin: 8px 0px;">
    <ion-label style="font-size: 14px;">Insira a nova descrição</ion-label>
    <span class="input-wrapper">
      <ion-textarea [(ngModel)]="descricao" style="text-align: left; vertical-align: top; padding-bottom: 16px;"
        placeholder="Descrição"></ion-textarea>
    </span>
  </div>

  <div class="botoes">
    <ion-button expand="block" class="botao-cancelar" (click)="cancelEdit()">Cancelar</ion-button>
    <ion-button expand="block" class="botao-confirmar" (click)="saveEditData()">Confirmar</ion-button>
  </div>

</ion-content>

<ion-modal #editFotoModal trigger="open-foto-modal">
  <ng-template>
    <ion-toolbar style="--background: white; height: max-content;">
      <ion-title slot="start" style="color: #512454;">Alterar foto</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeEditFoto()">
          <lucide-icon name="x" style="color: #1E1E1E;" class="my-icon" [size]="16"></lucide-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-content class="ion-padding" style="--background: white;">

      <p style="color: #512454;">Escolha uma foto da galeria para inserir no perfil do animal</p>

      <div class="image-container ion-text-center">
        <div class="image-preview" *ngIf="selectedImage; else defaultPreview">
          <img [src]="selectedImage" alt="Prévia da imagem" class="image-preview-style" />
        </div>
        <ng-template #defaultPreview>
          <div class="upload-placeholder">
            <button class="upload-button" (click)="selecionarImagem()">
              <lucide-icon name="image-plus" style="color: #777DAA;" [size]="116"></lucide-icon>
            </button>
          </div>
        </ng-template>
      </div>

      <div class="botoes">
        <ion-button expand="block" class="botao-cancelar" (click)="cancelEditFoto()">Remover</ion-button>
        <ion-button expand="block" class="botao-confirmar" [disabled]="!selectedImage" (click)="saveEditFoto()">
          Confirmar
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

</div>