
.conteudo {
    --ion-background-color: #D6E1FF;
}

.menu-topo {
    display: flex;
    gap: 24px;
    padding-left: 16px;
    background-color: white;
}

.logo-miaudote {
    max-width: 220px;
}

.my-icon {
    color: #87138F;
}

.card {
    background-color: white;
    max-width: 280px;
    margin: 0 auto 24px auto;
}

.campo-forms {
    padding: 8px;
}


.titulo-forms {
    font-size: 16px;
    font-weight: normal;
    color: #512454;
    margin-bottom: 8px;
    margin-top: 0px;
    padding-top: 0px;
}

.input-forms {
    --background: white;
    color: #512454;
    border: solid 2px #777DAA;
    --border-width: 0px;
}

ion-item {
    --inner-border-width: 0px;
    --highlight-color-focused: transparent;
}

.botao-cancelar {
    --background: #FCE5FE;
    color: #87138F;
    border: solid 2px #87138F;
    font-weight: 600;
    --border-radius: 4px;
    border-radius: 4px;
}


.input-wrapper {
    padding: 6px 6px 4px 6px;
    gap: 8px;
    border: 2px solid #777DAA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 14px;
}

.input-wrapper input {
    background-color: white;
    padding: 0;
    outline: none;
    border: none;
    font-size: 14px;
}

.input-wrapper .lucide-icon {
    color: #777DAA;
    padding-bottom: -6px;

}

.campo-input {
    padding: 4px 0px;
}

.titulo-input {
    font-size: 14px;
    font-weight: normal;
    color: #512454;
    margin-bottom: 8px;
    margin-top: 0px;
    padding-top: 0px;
}

.input-form {
    --background: white;
    color: #512454;
    border: solid 2px #512454;
    --border-width: 0px;
    font-size: 14px;
}


.select-estado {
    --background: white;
    color: #54597d;
    border: 2px solid #777DAA;
    --placeholder-color: #595e86;
    font-size: 14px;
}

.option-estado {
    color: #565b84;
    --background: white;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}


.botao-confirmar {
    --background: #87138F;
    color: white;
    font-weight: 600;
}

.botao-confirmar:hover {
    --background: #512454;
}

.botao-foto {
    --background: #e1e4fa;
    color: #585e8e;
    border: solid 3px #777DAA;
    font-weight: 600;
    --border-radius: 4px;
    border-radius: 4px;
}


.botao-editar {
    --background: #512454;
    color: white;
    font-weight: 600;
}

.botao-editar:hover {
    --background: #87138F;
}


.botao-excluir {
    --background: #FFDADB;
    color: #AE0003;
    border: solid 3px #AE0003;
    font-weight: 600;
    --border-radius: 4px;
    border-radius: 4px;
}

.image-preview {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.image-preview img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upload-placeholder {
    width: 100%;
    height: 160px;
    border-radius: 16px;
    background-color: #e4e4f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px dashed #777DAA;
}

.image-preview-style {
    max-width: 100%;
    max-height: 180px;
    border-radius: 16px;
    object-fit: cover;
}

.upload-button {
    background: none;
    border: none;
    cursor: pointer;
}