<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Miaudote</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button><lucide-icon name="arrow-right"></lucide-icon></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content id="conteudo-menu"class="ion-padding">
    <div class="card-perfil-menu">
      <img src="../../assets/gato-2.png" alt="" srcset="">
      <div>
        <h4>{{ usuarioLogado.nome_completo }}</h4>
        <a [routerLink]="['/perfil-usuario', usuarioLogado.id_user]">Ver perfil <lucide-icon name="arrow-up-right"></lucide-icon></a>
      </div>
    </div>
    <button class="card-perfil-menu" slot="fixed" (click)="logout()"><strong>Sair</strong><lucide-icon name="log-out"></lucide-icon></button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-row class="ion-align-items-center menu-topo">
          <img src="../../assets/logo-miaudote.svg" alt="Logo do Miaudote" width="70%" class="logo-miaudote">
        </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" id="conteudo-principal">
      
  
      <div class="menu-opcoes">
        <ion-button id="btn-adotar-animal" (click)="verAnimais()">Adotar um animal</ion-button>
        <ion-button id="btn-ajudar-doador" (click)="verDoador()">Ajudar um doador</ion-button>
      </div>
      
      <div *ngIf="verAnimaisOuDoadores; else verDoadores">
        <h2 style="font-weight: 700; color: #512454;">Pets disponíveis</h2>
    
        <button style="display: flex; justify-content: space-between; align-items: center; color: #512454; border: solid 2px #1E1E1E; padding: 4px 8px; width: 90%; margin: 0 auto; background-color: white;" id="btn-filtro"><span>Filtrar</span><span><lucide-icon name="list-filter" class="my-icon" [size]="16" style="color: #1E1E1E;"></lucide-icon></span></button>

        <ion-modal trigger="btn-filtro" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-toolbar style="--background: white;">
              <ion-title slot="start" style="color: #512454;">Filtrar</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="cancel()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                    [size]="16"></lucide-icon></ion-button>
              </ion-buttons>
            </ion-toolbar>
    
            <ion-content class="ion-padding" style="--background: white;">
    
              <div class="campo-filtro">
                <h3 class="titulo-filtro">Estado</h3>
                <ion-select style="background-color: white; color: #512454; padding: 0px 8px; border: solid 2px #512454;"
                  placeholder="Selecionar" [(ngModel)]="estadoSelecionado">
                  <ion-select-option
                    style="background-color: white; color: #512454; padding: 0px 8px; border: solid 2px #512454;"
                    *ngFor="let estado of estados" [value]="estado">{{ estado }}</ion-select-option>
                </ion-select>
              </div>
    
              <div class="campo-filtro">
                <h3 class="titulo-filtro">Cidade</h3>
                <ion-item class="input-filtro">
                  <ion-input placeholder="Informe a cidade" [(ngModel)]="cidade"></ion-input>
                  <ion-icon style="color: #512454;" slot="end" name="search-outline"></ion-icon>
                </ion-item>
              </div>
    
              <div class="campo-filtro">
                <h3 class="titulo-filtro">Espécie</h3>
                <ion-radio-group [(ngModel)]="especieSelecionada">
                  <ion-item style="--background:none; color: #1E1E1E;"
                    *ngFor="let especie of ['Gato', 'Cachorro', 'Roedor', 'Pássaro', 'Todos', 'Outros']">
                    <ion-label>{{ especie }}</ion-label>
                    <ion-radio style="--color: #512454;" slot="start" [value]="especie"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
    
              <div class="campo-filtro">
                <h3 class="titulo-filtro">Sexo</h3>
                <ion-radio-group [(ngModel)]="sexoSelecionado">
                  <ion-item style="--background:none; color: #1E1E1E;">
                    <ion-radio style="--color: #512454;" slot="start" labelPlacement="end" value="M">Macho</ion-radio>
                  </ion-item>
                  <ion-item style="--background:none; color: #1E1E1E;">  
                    <ion-radio style="--color: #512454;" slot="start" labelPlacement="end" value="F">Fêmea</ion-radio>
                  </ion-item>
                  <ion-item style="--background:none; color: #1E1E1E;">  
                    <ion-radio style="--color: #512454;" slot="start" labelPlacement="end" value="Todos">Todos</ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
    
              <div class="campo-filtro">
                <h3 class="titulo-filtro">Tamanho</h3>
                <ion-radio-group [(ngModel)]="tamanhoSelecionado">
                  <ion-item style="--background:none; color: #1E1E1E;"
                    *ngFor="let tamanho of ['Pequeno', 'Médio', 'Grande', 'Todos']">
                    <ion-label>{{ tamanho }}</ion-label>
                    <ion-radio style="--color: #512454;" slot="start" [value]="tamanho"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
    
              <div class="campo-filtro">
                <h3 class="titulo-filtro">Idade</h3>
                <ion-radio-group [(ngModel)]="idadeSelecionada">
                  <ion-item style="--background:none; color: #1E1E1E;"
                    *ngFor="let idade of ['Filhote', 'Adulto', 'Idoso', 'Todos']">
                    <ion-label>{{ idade }}</ion-label>
                    <ion-radio style="--color: #512454;" slot="start" [value]="idade"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
    
              <div class="campo-filtro">
                <h3 class="titulo-filtro">Situação</h3>
                <ion-radio-group [(ngModel)]="situacaoSelecionada">
                  <ion-item style="--background:none; color: #1E1E1E;"
                    *ngFor="let situacao of ['Disponível', 'Adotado', 'Todos']">
                    <ion-label>{{ situacao }}</ion-label>
                    <ion-radio style="--color: #512454;" slot="start" [value]="situacao"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
    
              <ion-button expand="block" class="botao-adicionar" (click)="confirm()">Aplicar filtros</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>
    
        <div id="pets" *ngFor="let animal of dadosListagem">

          <ion-card *ngIf="animal.status == 'disponivel'; else petIndisponivel">
            <ion-card-header class="status-pet-disponivel">
              <ion-card-title style="color: white; font-weight: 600;">DISPONÍVEL</ion-card-title>
            </ion-card-header>
            
            <ion-card-content
            style="display: flex; flex-direction: column; gap: 4px; justify-content: center; align-items: center; padding: 16px;">
            <img src="../../assets/gato-2.png" alt="Foto de Perfil do Usuário" width="200px" style="border-radius: 50%;">
            <div class="ion-text-center" style="display: flex; flex-direction: column; gap: 4px; margin: 8px 0px;">
              <ion-card-title style="color: #512454; font-weight: 600;">{{animal.animal_nome}}</ion-card-title>
            </div>
            <div style="display: flex; flex-direction: column; gap: 4px; justify-content: start;">
    
              <div style="display: flex; gap: 4px;"><lucide-icon name="map-pin" class="my-icon icone-perfil"
                  [size]="16"></lucide-icon>
                <h3 style="color: #1E1E1E">{{ animal.localizacao}}</h3>
              </div>
    
              <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
                  [size]="16"></lucide-icon>
                  <h3 style="color: #1E1E1E" *ngIf="animal.sexo === 'M'; else animalFemea">Macho</h3>
                  <ng-template #animalFemea>
                    <h3 style="color: #1E1E1E">Fêmea</h3></ng-template>
              </div>
    
              <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
                  [size]="16"></lucide-icon>
                  <h3 style="color: #1E1E1E">{{ animal.tamanho }}</h3>
                </div>
    
            </div>
    
            <ion-button [routerLink]="['/perfil-animal', animal.id_animal]" class="botao-editar" style="width: 100%;">Ver detalhes</ion-button>
    
          </ion-card-content>
    
          </ion-card>
    
          <ng-template #petIndisponivel>
            <ion-card>
            <ion-card-header class="status-pet-indisponivel">
              <ion-card-title style="color: white; font-weight: 600;" >INDISPONÍVEL</ion-card-title>
            </ion-card-header>
            
            <ion-card-content
            style="display: flex; flex-direction: column; gap: 4px; justify-content: center; align-items: center; padding: 16px;">
            <img src="../../assets/gato-2.png" alt="Foto de Perfil do Usuário" width="200px" style="border-radius: 50%;">
            <div class="ion-text-center" style="display: flex; flex-direction: column; gap: 4px; margin: 8px 0px;">
              <ion-card-title style="color: #512454; font-weight: 600;">{{animal.animal_nome}}</ion-card-title>
            </div>
            <div style="display: flex; flex-direction: column; gap: 4px; justify-content: start;">
    
              <div style="display: flex; gap: 4px;"><lucide-icon name="map-pin" class="my-icon icone-perfil"
                  [size]="16"></lucide-icon>
                <h3 style="color: #1E1E1E">{{ animal.localizacao}}</h3>
              </div>
    
              <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
                  [size]="16"></lucide-icon>
                <h3 style="color: #1E1E1E" *ngIf="animal.sexo === 'M'; else animalFemea">Macho</h3>
                <ng-template #animalFemea>
                  <h3 style="color: #1E1E1E">Fêmea</h3></ng-template>
              </div>
    
              <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
                  [size]="16"></lucide-icon>
                <h3 style="color: #1E1E1E">{{ animal.tamanho }}</h3>
              </div>
    
            </div>
    
            <ion-button [routerLink]="['/perfil-animal', animal.id_animal]" class="botao-editar" style="width: 100%;">Ver detalhes</ion-button>
    
          </ion-card-content>
    
          </ion-card>
          </ng-template>
        </div>    
        </div>
      
      <ng-template #verDoadores>
        <h2 style="font-weight: 700; color: #512454;">Doadores disponíveis</h2>
    
        <button style="display: flex; justify-content: space-between; align-items: center; color: #512454; border: solid 2px #1E1E1E; padding: 4px 8px; width: 90%; margin: 0 auto; background-color: white;" id="btn-filtro-doadores"><span>Filtrar</span><span><lucide-icon name="list-filter" class="my-icon" [size]="16" style="color: #1E1E1E;"></lucide-icon></span></button>

        <ion-modal trigger="btn-filtro-doadores" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-toolbar style="--background: white;">
              <ion-title slot="start" style="color: #512454;">Filtrar</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="cancel()"><lucide-icon name="x" style="color: #1E1E1E;" class="my-icon"
                    [size]="16"></lucide-icon></ion-button>
              </ion-buttons>
            </ion-toolbar>
    
            <ion-content class="ion-padding" style="--background: white;">
    
              <div class="campo-filtro">
                <h3 class="titulo-filtro">Tipo</h3>
                <ion-radio-group [(ngModel)]="tipoDoadorSelecionado">
                  <ion-item style="--background:none; color: #1E1E1E;"
                    *ngFor="let tipoDoador of ['Todos', 'Pessoa Comum', 'Instituição']">
                    <ion-label>{{ tipoDoador }}</ion-label>
                    <ion-radio style="--color: #512454;" slot="start" [value]="tipoDoador"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>

              <div class="campo-filtro">
                <h3 class="titulo-filtro">Estado</h3>
                <ion-select style="background-color: white; color: #512454; padding: 0px 8px; border: solid 2px #512454;"
                  placeholder="Selecionar" [(ngModel)]="estadoSelecionado">
                  <ion-select-option
                    style="background-color: white; color: #512454; padding: 0px 8px; border: solid 2px #512454;"
                    *ngFor="let estado of estados" [value]="estado">{{ estado }}</ion-select-option>
                </ion-select>
              </div>
    
              <div class="campo-filtro">
                <h3 class="titulo-filtro">Cidade</h3>
                <ion-item class="input-filtro">
                  <ion-input placeholder="Informe a cidade" [(ngModel)]="cidade"></ion-input>
                  <ion-icon style="color: #512454;" slot="end" name="search-outline"></ion-icon>
                </ion-item>
              </div>
              
              <ion-button expand="block" class="botao-adicionar" (click)="confirm()">Aplicar filtros</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>


        <div id="doadores" *ngFor="let doador of dadosListagem">
          <ion-card>
            <ion-card-content>
              <img src="../../assets/gato-2.png" alt="">
              <ion-card-title style="color: #512454; font-weight: 600;">{{ doador.nome_completo }}</ion-card-title>

              <div style="display: flex; flex-direction: column; gap: 4px; justify-content: start;">
    
                <div style="display: flex; gap: 4px;"><lucide-icon name="map-pin" class="my-icon icone-perfil"
                    [size]="16"></lucide-icon>
                  <h3 style="color: #1E1E1E">{{ doador.cidade}} - {{ doador.estado }}</h3>
                </div>
      
                <div style="display: flex; gap: 4px;"><lucide-icon name="circle-check" class="my-icon icone-perfil"
                    [size]="16"></lucide-icon>
                  <h3 style="color: #1E1E1E">Doações concluídas: <strong style="color: #512454;"> {{doador.qtd_doacoes}}</strong></h3>
                </div>
      
              </div>
      
              <ion-button [routerLink]="['/perfil-usuario', doador.id_user]" class="botao-editar" style="width: 100%;">Ver detalhes</ion-button>
            </ion-card-content>
          </ion-card>

        </div>

        


      </ng-template>
  </ion-content>
  
  


</div>

