<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Miaudote</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button><lucide-icon name="arrow-right"></lucide-icon></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content id="conteudo-menu" class="ion-padding">
    <div class="card-perfil-menu">
      <img src="../../assets/gato-2.png" alt="" srcset="">
      <div>
        <h4 >Igão Foguete</h4>
        <a href="">Ver perfil <lucide-icon name="arrow-up-right"></lucide-icon></a>
      </div>
    </div>
    <button class="card-perfil-menu" slot="fixed"><strong>Sair</strong><lucide-icon
        name="log-out"></lucide-icon></button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-row class="ion-align-items-center menu-topo">
          <img src="../../assets/logo-miaudote.svg" alt="Logo do Miaudote" width="70%" class="logo-miaudote">
        </ion-row>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true" class="conteudo">

  <div class="ion-text-center">
    <h3 style="font-weight: 700; color: #512454; margin: 24px 0px;">Adicionar animal</h3>
  </div>

  <ion-card class="card">
    <div class="ion-padding" style="--background: white;">
  
      <div class="campo-forms">
        <h3 class="titulo-forms">*Informe o nome</h3>
        <ion-item class="input-forms">
          <lucide-icon name="user" class="my-icon" style="color: #777DAA;" slot="start"></lucide-icon>
          <ion-input placeholder="Nome do animal" [(ngModel)]="nomeAnimal"></ion-input>
        </ion-item>
      </div>
  
      <div class="campo-forms">
        <h3 class="titulo-forms">*Informe a espécie</h3>
        <ion-radio-group [(ngModel)]="especieSelecionada">
          <ion-item style="--background:none; color: #1E1E1E;"
            *ngFor="let especie of ['Gato', 'Cachorro', 'Roedor', 'Pássaro', 'Outros']">
            <ion-label>{{ especie }}</ion-label>
            <ion-radio style="--color: #512454;" slot="start" [value]="especie"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
  
      <div class="campo-forms">
        <h3 class="titulo-forms">*Informe o sexo</h3>
        <ion-radio-group [(ngModel)]="sexoSelecionado">
          <ion-item style="--background:none; color: #1E1E1E;" *ngFor="let sexo of ['Macho', 'Fêmea']">
            <ion-label>{{ sexo }}</ion-label>
            <ion-radio style="--color: #512454;" slot="start" [value]="sexo"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
  
      <div class="campo-forms">
        <h3 class="titulo-forms">*Informe o tamanho</h3>
        <ion-radio-group [(ngModel)]="tamanhoSelecionado">
          <ion-item style="--background:none; color: #1E1E1E;"
            *ngFor="let tamanho of ['Pequeno', 'Médio', 'Grande']">
            <ion-label>{{ tamanho }}</ion-label>
            <ion-radio style="--color: #512454;" slot="start" [value]="tamanho"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
  
      <div class="campo-forms">
        <h3 class="titulo-forms">*Informe a idade</h3>
        <ion-radio-group [(ngModel)]="idadeSelecionada">
          <ion-item style="--background:none; color: #1E1E1E;"
            *ngFor="let idade of ['Filhote', 'Adulto', 'Idoso']">
            <ion-label>{{ idade }}</ion-label>
            <ion-radio style="--color: #512454;" slot="start" [value]="idade"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
  
      <ion-button id="open-foto-modal" expand="block" class="botao-foto" style="width: 100%;">Inserir foto</ion-button>

      <ion-modal #addFotoModal trigger="open-foto-modal">
        <ng-template>
          <ion-toolbar style="--background: white; height: max-content;">
            <ion-title slot="start" style="color: #512454;">Alterar foto</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeAddFoto()">
                <lucide-icon name="x" style="color: #1E1E1E;" class="my-icon" [size]="16"></lucide-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
      
          <ion-content class="ion-padding" style="--background: white;">
      
            <p style="color: #512454;">Escolha uma foto da galeria para inserir no perfil do animal</p>
      
            <div class="image-container ion-text-center">
              <div class="image-preview" *ngIf="selectedImage; else defaultPreview">
                <img [src]="selectedImage" alt="Prévia da imagem" class="image-preview-style" />
              </div>
              <ng-template #defaultPreview>
                <div class="upload-placeholder">
                  <button class="upload-button" (click)="selecionarImagem()">
                    <lucide-icon name="image-plus" style="color: #777DAA;" [size]="116"></lucide-icon>
                  </button>
                </div>
              </ng-template>
            </div>
      
            <div class="botoes">
              <ion-button expand="block" class="botao-cancelar" (click)="cancelAddFoto()">Remover</ion-button>
              <ion-button expand="block" class="botao-confirmar" [disabled]="!selectedImage" (click)="saveAddFoto()">
                Confirmar
              </ion-button>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>

      <div class="campo-forms">
        <h3 class="titulo-forms">Informe a descrição</h3>
        <ion-item class="input-forms ion-text-start">
          <ion-textarea style="text-align: left; vertical-align: top; padding-bottom: 16px;" placeholder="Descrição" [(ngModel)]="descricao"></ion-textarea>
        </ion-item>
      </div>

      <div class="botoes">

        <!-- colocar redirecionamento nesses botoes -->
        <ion-button expand="block" class="botao-cancelar">Cancelar</ion-button>
        <ion-button expand="block" class="botao-confirmar">Confirmar</ion-button>

      </div>
    </div>
  
  </ion-card>
  

  
</ion-content>
